# Prerequisites
*.d

# Object files
*/obj/
*/dep/
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

#Gitignore for LaTeX projects
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.toc
*.synctex.gz
*.bbl
*.blg
*/LaTeX/build/main.pdf
.DS_Store
notes/

# Ignoring the data files
data/*.txt
data/*.csv
.vscode/

data/em_dataset.csv
notes.txt
bin/EM_Clustering
